/*
  Interview selection page
*/

.category-selection {
  text-align: center;
  width: 500px;
  height: 50px;
  background-color: #B1ED5E;
  margin: 50px auto;
  padding: 10px;
  border-radius: 10px;
}
/*
.categories a{
  color:#444F51;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
*/
.randomizer {
  text-align: center;
  width: 500px;
  text-decoration: none;
  height: 50px;
  background-color: #5DCCCC;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
}

/*
  Interview Coding page
*/

#main-wrapper {
  margin: 0 auto;
  border-radius: 25px;
}

.counter {
  font-size: 50px;
  text-align: center;
  color: #555;
}

.upper-wrapper{
  height: 10%;
  color: white;
  padding: 10px;
  background-color: #444F51;
  font-size: 20px;
  text-align: center;
}

#text-input {
  width: 70%;
  height: 90%;
  background-color: white;
  float: left;
}

#question-info {
  width: 30%;
  height: 100%;
  float: right;
  vertical-align:top;
}

#question {
  height: 70%;
  padding: 10px 10px;
  text-align: center;
}

.videoWrapperOuter {
  max-width:640px;
  margin-left:auto;
  margin-right:auto;
}
.videoWrapperInner {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 50%;
  padding-top: 25px;
  height: 0;
}
.videoWrapperInner iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
  Submit Form
*/
.red{
    color:red;
    }
.radio-opt {
   padding: 6px 12px;
}
.form-area
{
  background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 30px 60px;
	border: 1px solid #c3d4e5;
  border-radius: 25px;
	}
